//- Load passed variables
block variables

//- Get page information or set to defaults
- var charset = "utf-8"
- var title = title || "Default page title";
- var description = description || "Default page description";
- var viewport = viewport || "width=device-width, initial-scale=1";

doctype html
head
    meta( charset=charset )
    title=title
    meta( name="description", content=description )
    meta( name="viewport" content="viewport" )
    meta( http-equiv="cleartype" content="on" )

    link( rel="stylesheet" href=pathToCSSFile )

    script( src="assets/js/modernizr.js" )

body

    //- Load the content
    block content

    script( src=pathToJSFile )
